.list {
    width: 70%;
    margin: 30px auto;

    .list__select {
        width: 30%;
        height: 30px;
        margin: 20px 0;
        border: none;
        border: 1px solid #3e0d0d;
        font-family: 'Inter';
        font-size: 16px;
    }

    .list__tasks {
        min-height: 300px;
        background-color: #f9f3eb;
        padding: 20px;
    }

    .list__count {
        font-family: 'Inter';
        font-size: 18px;
        padding: 5px 20px;
        background-color: #f9f3eb;
        color: #3e0d0d;
    }
}