.task {
    padding: 10px 20px;
    list-style-type: none;

    .task__block {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #c3c1c1;

        .task__text {
            font-family: 'Inter';
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
        }

        .task__btn {
            width: 70px;
            height: 25px;
            background-color: #f3cc99;
            border: none;
            font-family: 'Inter';
            font-size: 15px;
            font-weight: 300;
        }

        .task__btn:hover {
            cursor: pointer;
        }
    }
}

.task[data-completed] {
    .task__text {
        text-decoration: line-through;
        color: #c3c1c1;
    }
}

@media screen and (max-width: 599.98px) {
    .task {
        padding: 10px 5px;

        .task__block {
            display: flex;
            flex-direction: column;
            border-bottom: none;

            .task__text {
                margin-bottom: 10px;
                font-size: 17px;
            }
        }
    }
}