@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

$light: 400;
$normal: 500;
$bold: 600;

$font-26: 26px;
$font-24: 24px;
$font-20: 20px;
$font-16: 16px;

$black: #000;
$dark-gray: #D9D9D9;
$white: #fff;

$family: 'Montserrat', sans-serif;

.list {
    width: 70%;
    margin: 30px auto;
    padding-bottom: 100px;

    .task__title {
        display: flex;
        justify-content: space-around;
        height: 50px;
        line-height: 50px;
        border-bottom: 2px solid $dark-gray;
        margin-bottom: 11px;

        .task__titleText,
        .task__date {
            @include font($normal, $font-24, $white);
        }
    }

    .list__tasks_all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 10px 20px;
        background-color: $dark-gray;

        .list__taskNumber {
            @include font($light, $font-26, $black);
        }

        .list__select {
            width: 200px;
            height: 70%;
            border: 1px solid $black;
            @include font($light, $font-16, $black);
        }
    }

    .list__tasks {
        min-height: 300px;
    }

    .list__count {
        @include font($light, $font-20, $white);
        padding: 5px 0;
    }
}

@media screen and (max-width: 599.98px) {
    .list {
        width: 90%;

        .list__tasks_all {
            .list__select {
                width: 50%;
            }
        }

        .list__count {
            @include font($light, $font-16, $white);
        }
    }
}